@import 'variable';
._ic3l {
    font-size: 2em;
    margin: auto;
    display: inline-block;
}

._ic3l5w {
    @extend ._ic3l;
    color: $_white;
}

._ic3lm {
    @extend ._ic3l;
    margin-top: 0px;
    color: $_main;
    position: absolute;
    right: 35px;
    top: 40%;
    padding-right: 5px;
}