@import 'variable';
@import 'grid';
@import 'button';
@import 'image';
@import 'typography';
@import 'table';
@import 'mixin';
@import 'icon';
._fx {
    position: fixed;
    max-height: 100%;
}

select,
input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: transparent !important;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba($rgb-white, 1);
    padding: 10px 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1em;
    font-weight: normal;
}

:-ms-input-placeholder {
    color: $_white;
}

::-moz-placeholder {
    color: $_white;
}

::-webkit-input-placeholder {
    color: $_white;
}

select:focus,
input[type="checkbox"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 5px solid rgba($rgb-white, 1);
}

textarea {
    @extend input[type="text"];
    max-height: 225px;
    resize: vertical;
    overflow: auto;
}

._txa3m {
    @extend ._txa3l;
    background-color: $_white !important;
    margin-top: 15px;
    padding: 15px 15px 15px 15px;
    height: 120px;
    border: 2px solid !important;
    border-color: $_main !important;
    border-radius: 10px;
}

._txa3l {
    @extend textarea;
    height: 50px;
    resize: vertical;
    overflow: auto;
}

._cn input[type="password"] {
    padding-right: 36px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

// Block Class
._bl {
    padding: 0;
    height: 100%;
}

//overflow
._ov3y {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
}

._ov3y5m {
    @extend ._ov3y;
    max-height: 225px;
}

._ov3y5l {
    @extend ._ov3y;
    max-height: 500px;
}

// Containter Class
._cn5g {
    position: relative;
    i[class="fa fa-eye"] {
        position: absolute;
        top: 35%;
        right: 15px;
        color: $_white;
        font-weight: normal;
        font-size: 1.2em;
        cursor: pointer;
        &:hover {
            color: $_2grey;
        }
    }
}

// ChatBox
._cb {
    background-color: $_white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 485px;
}

// Typography
._he {
    font-family: $PT-sans;
    font-size: 2.2em;
    color: $_white;
    border: none;
    font-weight: lighter;
    margin: 0px;
}

._he3m {
    @extend ._he;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.8em;
}

._he3sb {
    @extend ._he;
    font-weight: bold;
    font-size: .9em;
    color: $hx-black;
}

._he3sb5r {
    @extend ._he3sb;
    text-align: right;
}

._he3s {
    @extend ._he;
    padding-top: 5px;
    font-size: .9em;
    color: $hx-silver;
}

._he3s5r {
    @extend ._he3s;
    text-align: right;
}

._ln5w {
    h2:after {
        text-align: left;
        content: " ";
        width: 50px;
        height: 3px;
        background: $_white;
        display: block;
        margin: 10px 0px 20px 0px;
    }
}

._f5a {
    height: 100%;
    background: url('/img/BG.png');
    background-size: cover;
    @include fill-available();
}

._f5b {
    height: 100px;
    background: url('/img/BG.png');
    background-size: cover;
}

._f5c {
    background: $_main;
    background: -webkit-linear-gradient(45deg, $_main, $_hmain);
    background: -moz-linear-gradient(45deg, $_main, $_hmain);
    background: -o-linear-gradient(45deg, $_main, $_hmain);
    background: linear-gradient(45deg, $_main, $_hmain);
}

//Navbar 
._n {
    width: 250px;
    box-sizing: border-box;
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    z-index: 10;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: $_white;
    /* Safari and Chrome */
    li {
        padding: 15px;
        a {
            text-decoration: none;
            color: $hx-fuchsia;
            text-align: center;
            font-size: 25px;
            i {
                text-align: center;
            }
        }
        &:hover {
            color: $hx-fuchsia;
            background-color: $hx-purple;
        }
        ._n3a {
            color: $hx-fuchsia;
            background-color: $hx-purple;
        }
    }
}

._n51 {
    height: 75%;
}

._n52 {
    height: 25%;
}

._cn5n:hover {
    ._n {
        left: 0;
    }
    // &+.overlay {
    //     visibility: visible;
    //     opacity: 0.7;
    // }
}

._se {
    margin-left: 0px;
    margin-right: 0px;
    ._se5t {
        font-size: .9em;
    }
    ._se5ct {
        font-size: .9em;
    }
    ._se5c {
        font-size: .9em;
    }
    ._se5m {
        font-size: .9em;
    }
    ._se5xl {
        font-size: 1.5em;
    }
}

._d5ab {
    font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 601px) {
    //padding
    ._pdx3n {
        padding-left: 0;
        padding-right: 0;
    }
    // Table
    ._tb3g5p {
        th {
            padding: 5px;
            font-size: .8em;
        }
        td {
            padding: 5px;
            font-size: .7em;
        }
    }
    ._f5a {
        ._bl5d {
            height: auto;
            padding-top: 180px;
        }
    }
    ._f5c {
        ._bl5d {
            margin: auto;
            max-width: 500px;
        }
    }
    ._ch3a,
    ._ch {
        max-width: 80%;
    }
}

@media (min-width: 601px) {
    ._f5a {
        ._bl5d {
            height: auto;
            margin-top: 220px;
        }
    }
    ._f5c {
        ._bl5d {
            margin: auto;
            max-width: 500px;
        }
    }
    ._ch3a,
    ._ch {
        max-width: 60%;
    }
}

//chat
._ch {
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
    ._he3sb {
        color: $_white;
    }
    ._he3s {
        font-size: 1em;
        color: $_white;
    }
}

._ch3ms {
    background-color: $_1grey;
}

._ch3a {
    @extend ._ch;
    margin-left: 0px;
    margin-right: 50px;
    background-color: $hx_silver;
}

._ch3b {
    @extend ._ch;
    margin-left: 50px;
    margin-right: 0px;
    background-color: $_main;
}

//chat assistant
div._ch5w {
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-padding-start: 20px;
    margin-bottom: 5px;
    &::-webkit-scrollbar {
        display: none;
    }
    &:first-child {
        margin-left: 20px;
    }
}

._ch3c {
    width: auto;
    padding: 0 0 0 0;
    margin: 10px 10px 0 0;
    border: 1px solid $hx_gray;
    border-radius: 10px;
    background-color: $_white;
    list-style-type: none;
    text-align: left;
    overflow: hidden;
    min-width: 175px;
    max-width: 225px;
    ._bio {
        padding: 0;
        margin: 0;
        span {
            display: block;
            padding: 10px 10px 10px 10px;
            border-bottom: 1px solid $hx-silver;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px solid $hx-silver;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

// chat info
._ch3d {
    padding: 0px;
    border: 1px solid $hx_silver;
    border-radius: 10px;
    background-color: $_white;
    overflow: hidden;
    &>header {
        margin: 0;
        padding: 10px;
        background-color: $hx_silver;
        h4 {
            margin: 0;
            color: $_white;
            font-size: 1em;
            font-weight: bold;
        }
    }
    ._pd3m3a {
        border-bottom: 1px solid $hx-silver;
        &:last-child {
            border-bottom: none;
        }
    }
    ._wh5mw {
        max-width: 200px;
    }
}

// grade
._ch3e {
    padding: 0px;
    border-radius: 10px;
    background-color: $_main;
    list-style-type: none;
    text-align: left;
    max-width: 90%;
    margin: 0;
    tr {
        @extend ._w3wr;
        color: $_white;
        &:last-child {
            border-bottom: none;
        }
    }
    td {
        padding: 10px;
        border-bottom: 1px solid $_white;
        font-size: 1.2em;
        &:last-child {
            text-align: center;
            font-size: 2.2em;
            font-weight: bold;
            width: auto;
            white-space: nowrap;
        }
    }
}

// schedule
._ch3f {
    padding: 0px 10px 0px 10px;
    margin: 10px 10px 0px 0px;
    flex: 0 0 auto;
    max-width: 150px;
    border-radius: 10px;
    background-color: $hx_silver;
    list-style-type: none;
    text-align: left;
    h3 {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 1.2em;
        color: $_main;
    }
    h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1em;
        color: $_white;
    }
    h5 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 0.8em;
        color: $_white;
    }
    h6 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 0.8em;
        color: $_white;
        font-weight: 100;
    }
    @media (min-width: 992px) {
        h3 {
            font-size: 2em;
        }
        h4 {
            font-size: 1.3em;
        }
        h5 {
            font-size: 1.1em;
        }
    }
}

// assignment
._ch3g {
    padding: 0;
    margin: 10px 10px 0px 0px;
    border-radius: 10px;
    background-color: $hx_silver;
    list-style-type: none;
    text-align: left;
    overflow: hidden;
    h3 {
        padding: 5px 0px 0px 0px;
        margin-bottom: 0px;
        height: 30px;
        background-color: $_main;
        color: $_white;
        text-align: center;
        font-size: 1em;
    }
    h4 {
        padding: 0px 10px 0px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $_white;
        font-size: 1.1em;
        font-weight: normal;
    }
    h5 {
        padding: 0px 10px 0px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $_white;
        font-size: 1em;
        font-weight: normal;
    }
    h6 {
        padding: 0px 10px 0px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $_white;
        font-size: 0.8em;
        font-weight: normal;
    }
}

// chat input
._ch3bd {
    border-color: $_2grey;
    border-style: solid none none none;
    border-width: 2px;
    padding: 15px 20px;
    font-family: $PT-sans;
    font-size: 1.2em;
    ._ch3m {
        width: 100%;
        overflow-y: auto;
        padding: 0;
        position: relative;
        max-height: 100px;
        border: none;
        outline: none;
        @extend ._w3wr;
    }
}

._w3wr {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

._cn {
    &>._ch3hdr {
        order: 0;
    }
    &>._ch3cnt {
        order: 1;
        position: relative;
        overflow-y: auto;
        @extend ._w3wr;
    }
    &>._ch3ftr {
        order: 2;
    }
}

._ch3pn {
    flex: 0 0 auto;
    &._emt {
        display: flex;
        display: -webkit-flex;
        flex: 1 1 auto;
    }
}

._sd5ft {
    text-align: center;
    padding: 10px 0;
    border-style: solid none;
    border-width: 1px;
    border-color: $hx-silver;
    color: $hx-silver;
}

#__ch3sb {
    line-height: 0;
    &:active {
        opacity: 0.6;
    }
}

._mx3s {
    max-width: 30%;
}

.width-200px {
    max-width: 200px;
}

._he5mx {
    height: 100%;
}

._wi5mx {
    width: 100%;
}

.wh5mx {
    height: 100%;
    width: 100%;
}

._he5a {
    height: auto;
}

._wh5a {
    width: auto;
}

._wh5a {
    height: auto;
    width: auto;
}

._fx5mx {
    flex: 0 0 auto;
}

._fx5mn {
    flex: 1 1 auto;
}

._fx5n {
    flex: none;
}

.ta5c {
    text-align: center
}

// .overlay {
//     visibility: hidden;
//     background-color: black;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     position: fixed;
//     z-index: 1;
//     opacity: 0.0;
//     -webkit-transition: opacity 0.3s, visibility 0.3s;
//     -webkit-transition-delay: 0.3s;
//     -moz-transition: opacity 0.3s, visibility 0.3s;
//     -moz-transition-delay: 0.3s;
//     -o-transition: opacity 0.3s, visibility 0.3s;
//     -o-transition-delay: 0.3s;
//     transition: opacity 0.3s, visibility 0.3s;
//     transition-delay: 0.3s;
// }