@import 'variable';
@import 'grid';
@import 'button';
@import 'image';
@import 'typography';
@import 'table';
@import 'mixin';
@import 'icon';
select,
input[type="text"],
input[type="password"] {
    background-color: transparent !important;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba($rgb-white, 1);
    padding: 10px 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1em;
    font-weight: normal;
}

:-ms-input-placeholder {
    color: $_white;
}

::-moz-placeholder {
    color: $_white;
}

::-webkit-input-placeholder {
    color: $_white;
}

select:focus,
input[type="checkbox"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 5px solid rgba($rgb-white, 1);
}

textarea {
    @extend input[type="text"];
    max-height: 225px;
    resize: vertical;
    overflow: auto;
}

._txa3m {
    @extend textarea;
    height: 130px;
    max-height: 130px;
    border-top: 1px solid;
    border-top-color: $hx_purple;
}

._txa3l {
    @extend textarea;
    height: 420px;
    resize: vertical;
    overflow: auto;
}

._cn input[type="password"] {
    margin-bottom: 24px;
    padding-right: 36px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

// Block Class
._bl {
    padding: 0;
    height: 100%;
}

//overflow
._ov3y {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
}

._ov3y5m {
    @extend ._ov3y;
    max-height: 225px;
}

._ov3y5l {
    @extend ._ov3y;
    max-height: 500px;
}

// Containter Class
._cn5g {
    position: relative;
    i[class="fa fa-eye"] {
        position: absolute;
        top: 35%;
        right: 15px;
        color: $_white;
        font-weight: normal;
        cursor: pointer;
    }
}

._cn3l {
    @extend ._cn;
}

._cn3r {
    @extend ._cn;
}

._cn5n {
    display: inline-block;
}

// ChatBox
._cb {
    @extend ._ov3y5l;
    padding: 15px 5px 15px 5px;
    height: 400px;
    background-color: $_white;
}

// Typography
._he {
    font-family: $PT-sans;
    font-size: 2.2em;
    color: $_white;
    text-align: left;
    border: none;
    font-weight: lighter;
    margin: 0px;
}

._he3m {
    @extend ._he;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.8em;
}

._he3sb {
    @extend ._he;
    font-weight: bold;
    font-size: .9em;
    color: $hx-black;
}

._he3sb5r {
    @extend ._he3sb;
    text-align: right;
}

._he3s {
    @extend ._he;
    font-size: .9em;
    color: $hx-black;
}

._he3s5r {
    @extend ._he3s;
    text-align: right;
}

._ln5w {
    h2:after {
        text-align: left;
        content: " ";
        width: 50px;
        height: 3px;
        background: $_white;
        display: block;
        margin: 10px 0px 20px 0px;
    }
}

._f5a {
    height: 100%;
    background: url('/img/BG.png');
    background-size: cover;
    @include fill-available();
}

._f5b {
    height: 100px;
    background: url('/img/BG.png');
    background-size: cover;
}

//Navbar 
._n {
    margin: 0;
    padding: 0;
    display: inline-block;
    visibility: hidden;
    height: 100%;
    background-color: $hx_black;
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    overflow: auto;
    z-index: 1;
    list-style-type: none;
    box-shadow: 0px;
    margin-left: -60px;
    -webkit-transition: all 0.5s linear;
    /* Safari and Chrome */
    li {
        padding: 15px;
        a {
            text-decoration: none;
            color: $hx-fuchsia;
            text-align: center;
            font-size: 25px;
            i {
                text-align: center;
            }
        }
        &:hover {
            color: $hx-fuchsia;
            background-color: $hx-purple;
        }
        ._n3a {
            color: $hx-fuchsia;
            background-color: $hx-purple;
        }
    }
}

._n51 {
    height: 75%;
}

._n52 {
    height: 25%;
}

._cn5n:hover ul {
    visibility: visible;
    margin-left: 0px;
}

._se {
    margin-left: 0px;
    margin-right: 0px;
    ._se5t {
        font-size: .9em;
    }
    ._se5ct {
        font-size: .9em;
    }
    ._se5c {
        font-size: .9em;
    }
    ._se5m {
        font-size: .9em;
    }
    ._se5xl {
        font-size: 1.5em;
    }
}

._d5ab {
    font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 992px) {
    //padding
    ._pdx3n {
        padding-left: 0;
        padding-right: 0;
    }
    // Table
    ._tb3g5p {
        th {
            padding: 5px;
            font-size: .8em;
        }
        td {
            padding: 5px;
            font-size: .7em;
        }
    }
    ._f5a {
        ._bl5d {
            height: auto;
            padding-top: 180px;
        }
    }
}

@media (min-width: 992px) {
    ._f5a {
        ._bl5d {
            height: auto;
            margin-top: 220px;
        }
    }
}